@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Karla";
  color: #222;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

h1 {
  font-size: 50px;
  font-weight: 500;
}

body {
  overflow-x: hidden;
}

.hidden {
  position: absolute;
  top: -9999999px;
  opacity: 0;
}

fieldset {
  border: none;
}

table {
  border-collapse: collapse;
}

.wrap::after {
  content: "";
  display: block;
  clear: both;
}

#header {
  width: 100%;
}
#header .inner {
  width: 1180px;
  height: 75px;
  margin: 0 auto;
  position: relative;
  z-index: 20;
}
#header .inner > h1 {
  position: absolute;
  top: 16px;
  left: 30px;
}
#header .inner > h1 > a {
  font-size: 50px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}
#header .inner .menuWeb #gnb {
  position: absolute;
  right: 30px;
  bottom: 0;
}
#header .inner .menuWeb #gnb li {
  float: left;
}
#header .inner .menuWeb #gnb li a {
  display: block;
  padding-left: 14px;
  font-size: 14px;
  font-weight: 550;
  color: #fff;
  margin: 10px;
}
#header .inner .menuWeb #gnb li a:hover {
  color: rgb(1, 54, 105);
}
#header .inner .btnCall {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: rotateY(-50%);
  display: none;
  width: 20px;
  height: 20px;
}
#header .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: absolute;
  top: 0;
  left: 0;
  transition: bottom 0.5s 0s;
}
#header .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  transition: 1s;
  text-indent: -999999px;
}
#header .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header .inner .menuMo {
  width: 200px;
  height: 100vh;
  background: rgb(155, 208, 238);
  position: fixed;
  top: 0;
  left: -200px;
  padding: 35px 30px;
  z-index: 20;
  transition: 0.5s;
  display: none;
}
#header .inner .menuMo.on {
  left: 0;
}
#header .inner .menuMo h1 {
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}
#header .inner .menuMo h1 a {
  display: block;
  font-weight: 600;
  letter-spacing: 10;
  color: #fff;
  text-align: center;
}
#header .inner .menuMo h1 span {
  font-size: 12px;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  letter-spacing: 10;
  text-align: center;
}
#header .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 18px 0;
  border-bottom: 1px dotted #fff;
  font: bold 14px/1;
  color: #fff;
  text-align: center;
}

#visual {
  width: 100%;
  height: 600px;
  margin-top: -75px;
  overflow: hidden;
  position: relative;
}
#visual .inner {
  width: 1180px;
  margin: 0 auto;
}
#visual .inner .txt {
  width: 1180px;
  height: 300px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
}
#visual .inner .txt p {
  width: 500px;
  margin: 0 auto;
  font-size: 100px;
  font-style: italic;
  font-weight: 700;
  color: #fff;
}
#visual .inner .txt span {
  font-size: 28px;
  font-weight: 550;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
#visual .inner .pic {
  width: 100%;
  height: 600px;
}
#visual .inner .pic > img {
  width: 100%;
  z-index: 5;
}
#visual .inner .wrap {
  width: 100%;
  margin: 0 auto;
}
#visual .inner .wrap #slider {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#visual .inner .wrap #slider ul {
  width: 500%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
}
#visual .inner .wrap #slider ul li {
  width: 20%;
  height: 100%;
  float: left;
}
#visual .inner .wrap #slider ul li img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
#visual .inner .wrap .prev {
  width: 100%;
}
#visual .inner .wrap .prev img {
  cursor: pointer;
  width: 100px;
  position: absolute;
  left: 25%;
  bottom: 250px;
  transition: 0.5s;
  z-index: 5;
}
#visual .inner .wrap .next {
  width: 100%;
  position: absolute;
  left: 70%;
  bottom: 250px;
}
#visual .inner .wrap .next img {
  cursor: pointer;
  width: 100px;
  transition: 0.5s;
  z-index: 5;
}

#about {
  width: 100%;
  padding: 5vw 20vw 5vw;
  display: block;
  position: relative;
  margin: 0 auto;
}
#about .iner {
  width: 1180px;
  margin: 0 auto;
}
#about .iner::after {
  content: "";
  display: block;
  clear: both;
}
#about .iner .text_box {
  width: 100%;
}
#about .iner .text_box h1 {
  width: 1180px;
}
#about .iner .text_box .txt {
  width: 500px;
  height: 200px;
  font-size: 0;
}
#about .iner .text_box .txt > h2 {
  font: bold 36px/1.4;
  color: #333;
  margin-bottom: 5px;
  padding-left: 10px;
}
#about .iner .text_box .txt > h3 {
  font: 24px/1.4;
  columns: #555;
  margin-bottom: 5px;
  padding-left: 10px;
}
#about .iner .text_box .txt p {
  font: 14px/1.2;
  color: #777;
  margin-bottom: 50px;
  padding-left: 10px;
}
#about .iner .text_box .txt a {
  margin-top: 50px;
  display: block;
  position: relative;
  margin-left: 10px;
  width: 100px;
  height: 24px;
  font-weight: 600;
  font: 14px/50px;
  color: rgb(27, 113, 234);
  text-align: center;
}
#about .iner .text_box .txt a:hover {
  border-radius: 3px;
  border: 1px solid rgb(27, 113, 234);
  color: rgb(27, 113, 234);
}

#portfolio {
  width: 100%;
}
#portfolio .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 100px 0px 5px;
  overflow: hidden;
  position: relative;
}
#portfolio .inner::after {
  content: "";
  display: block;
  clear: both;
}
#portfolio .inner h1 {
  float: left;
}
#portfolio .inner .container {
  width: 1180px;
  float: left;
  overflow: hidden;
}
#portfolio .inner .container::after {
  content: "";
  display: block;
  clear: both;
}
#portfolio .inner .container .tap {
  width: 500px;
  float: left;
  margin-top: 15px;
  padding-bottom: 5px;
}
#portfolio .inner .container .tap ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#portfolio .inner .container .tap ul li {
  width: 100%;
  height: 30px;
  position: relative;
  float: left;
  font-size: 18px;
  font-weight: 500;
}
#portfolio .inner .container .tap ul li a {
  display: block;
  position: absolute;
  width: 100%;
  height: 40PX;
  display: flex;
}
#portfolio .inner .container .tap ul li.on {
  color: rgb(27, 113, 234);
  font-weight: 700;
  transition: 0.14s;
}
#portfolio .inner .container .tap ul li.on a {
  position: absolute;
  color: rgb(27, 113, 234);
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
