@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Karla";
  color: #222;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 48px;
  font-weight: 500;
}

body {
  overflow-x: hidden;
}

#header {
  border: solid 1px blue;
  width: 100%;
  height: 630px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
#header .inner {
  width: 1180px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .inner h1 a {
  font-weight: 900;
  letter-spacing: 10px;
  color: rgba(255, 255, 255, 0.9);
}
#header .inner #gnb {
  display: flex;
}
#header .inner #gnb li a {
  display: block;
  border: 1px solid red;
  padding: 10px 10px;
  font: 15px;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
#header .inner #gnb li:hover a {
  color: #333;
  transition: 0.5s;
}
#header .inner #gnb li.on a {
  color: rgba(255, 255, 255, 0.7);
}

#visual {
  width: 100%;
  width: 1180px;
  position: absolute;
  position: relative;
}
#visual .inner {
  width: 1180px;
  height: 630px;
  margin: 0 auto;
  position: relative;
}
#visual .btnMore {
  float: right;
  right: 0px;
  display: block;
  width: 170px;
  padding: 20px;
  font: normal 12px/1;
  color: #fff;
  border-radius: 5px;
  background-color: #333;
  text-align: center;
  transition: 0.4s;
}
#visual .btnMore:hover {
  background-color: #333;
}

#sliderMain {
  width: 100%;
}
#sliderMain ul {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
}
#sliderMain ul li {
  width: 33.3333333333%;
  height: 100%;
  float: left;
  position: relative;
}
#sliderMain ul li[data-index="0"] {
  background: #ededf7;
}
#sliderMain ul li[data-index="0"] div {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#sliderMain ul li[data-index="0"] div img {
  width: 100%;
  object-fit: cover;
}
#sliderMain ul li[data-index="1"] {
  background: #f6edf7;
}
#sliderMain ul li[data-index="1"] div {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#sliderMain ul li[data-index="1"] div img {
  width: 100%;
  object-fit: cover;
}
#sliderMain ul li[data-index="2"] {
  background: #555;
}
#sliderMain ul li[data-index="2"] div {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#sliderMain ul li[data-index="2"] div img {
  width: 100%;
  object-fit: cover;
}
#sliderMain .btnPrev,
#sliderMain .btnNext {
  border: solid 1px rebeccapurple;
  position: absolute;
  top: 300px;
  z-index: 10;
  padding: 20px;
  font-size: 16px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
#sliderMain .btnPrev span,
#sliderMain .btnNext span {
  display: block;
  font: normal 12px/1;
}
#sliderMain .btnPrev {
  left: 12vw;
}
#sliderMain .btnPrev::after {
  margin-top: 5px;
  float: right;
  display: block;
  content: "";
  width: 0%;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
}
#sliderMain .btnPrev:hover::after {
  width: 100%;
}
#sliderMain .btnNext {
  right: 12vw;
}
#sliderMain .btnNext::after {
  margin-top: 5px;
  float: left;
  display: block;
  content: "";
  width: 0%;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
}
#sliderMain .btnNext:hover::after {
  width: 100%;
}

#portfolio {
  width: 100%;
}
#portfolio .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 100px 0px 5px;
  overflow: hidden;
}
#portfolio .inner::after {
  content: "";
  display: block;
  clear: both;
}
#portfolio .inner h1 {
  float: left;
}
#portfolio .inner .container {
  width: 1180px;
  float: left;
  overflow: hidden;
}
#portfolio .inner .container .tab {
  width: 1180px;
  float: right;
  margin: 5px 0px 5px;
}
#portfolio .inner .container .tab ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#portfolio .inner .container .tab ul li {
  width: 100%;
  height: 20px;
  position: relative;
  float: left;
  margin-left: 0px;
}
#portfolio .inner .container .tab ul li a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#portfolio .inner .container .tab ul li.on a {
  color: #333;
  font-family: "Karla";
  font-weight: 900;
}
#portfolio .inner .container section {
  width: 1180px;
  height: 290px;
  position: relative;
  float: left;
}
#portfolio .inner .container section article {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  display: none;
  opacity: 0;
}
#portfolio .inner .container section article.on {
  display: block;
  opacity: 1;
}
#portfolio .inner .container section article div {
  width: 290px;
  height: 100%;
  float: left;
  margin-right: 5px;
  overflow: hidden;
  position: relative;
}
#portfolio .inner .container section article div:last-of-type {
  margin-right: 0px;
}
#portfolio .inner .container section article div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale 100%;
  transition: 0.5s;
}
#portfolio .inner .container section article div p {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 15px;
  left: 0;
  text-align: center;
  font: bold 10px/1;
  letter-spacing: 1px;
  color: navy;
  opacity: 0;
  z-index: 5;
}
#portfolio .inner .container section article div::after {
  content: "";
  display: block;
  width: 100%;
  height: 290px;
  background-color: rgba(4, 63, 255, 0.08);
  position: absolute;
  bottom: -290px;
  left: 0;
  transition: 0.5s;
  z-index: 3;
}
#portfolio .inner .container section article div:hover img {
  transition: 0.5s;
  transform: scale(1.3);
}
#portfolio .inner .container section article div:hover p {
  opacity: 1;
}
#portfolio .inner .container section article div:hover::after {
  bottom: 0px;
  left: 0;
}

#news {
  width: 100%;
  padding: 100px 0;
}
#news .inner {
  width: 1180px;
  margin: 0 auto;
}
#news .inner .boxWrap::after {
  content: "";
  display: block;
  clear: both;
  width: 100%;
}
#news .inner .boxWrap > div {
  float: left;
}
#news .inner .boxWrap > div::after {
  content: "";
  display: block;
  clear: both;
}
#news .inner .boxWrap > div.title_box {
  width: 25%;
}
#news .inner .boxWrap > div.title_box h1 {
  position: relative;
  margin-bottom: 10px;
}
#news .inner .boxWrap > div.title_box h1::after {
  content: "";
  display: block;
  position: absolute;
}
#news .inner .boxWrap > div.photo_box {
  width: 100%;
}
#news .inner .boxWrap > div.photo_box ul {
  width: 100%;
}
#news .inner .boxWrap > div.photo_box ul li {
  float: left;
  width: calc(25% - 2px);
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5px;
  margin: 0;
  position: relative;
}
#news .inner .boxWrap > div.photo_box ul li::after {
  content: "";
  display: block;
  clear: both;
}
#news .inner .boxWrap > div.photo_box ul li:last-of-type {
  margin-left: 0;
}
#news .inner .boxWrap > div.photo_box ul li .bg_box {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#news .inner .boxWrap > div.photo_box ul li .bg_box:hover .txt_box {
  opacity: 1;
  transition: 0.5s;
}
#news .inner .boxWrap > div.photo_box ul li .bg_box.bg_box1 {
  background: url(../img/image4.jpg) no-repeat center/cover;
}
#news .inner .boxWrap > div.photo_box ul li .bg_box.bg_box2 {
  background: url(../img/trend2.jpg) no-repeat center/cover;
}
#news .inner .boxWrap > div.photo_box ul li .bg_box.bg_box3 {
  background: url(../img/trend3.jpg) no-repeat center/cover;
}
#news .inner .boxWrap > div.photo_box ul li .bg_box.bg_box4 {
  background: url(../img/trend4.jpg) no-repeat center/cover;
}
#news .inner .boxWrap > div.photo_box ul li .txt_box {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  padding: 50px 30px 0;
}
#news .inner .boxWrap > div.photo_box ul li .txt_box::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 60px);
  height: 1px;
  background: #fff;
  opacity: 0.6;
}
#news .inner .boxWrap > div.photo_box ul li .txt_box > h2 {
  font: bold 24px/1.2;
  color: #333;
  margin-bottom: 15px;
}
#news .inner .boxWrap > div.photo_box ul li .txt_box > p {
  font: bold 18px/1.2 "Karla";
  color: #333;
  margin-bottom: 50px;
}
#news .inner .boxWrap > div.photo_box ul li .txt_box > a {
  font: 14px/1;
}
#news .inner .boxWrap > div.photo_box ul li .txt_box .bottom_txt {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 25px;
}
#news .inner .boxWrap > div.photo_box ul li .txt_box .bottom_txt p {
  font: bold 12px/1 "Karla";
  color: #444;
}
#news .inner .boxWrap > div.photo_box ul li .txt_box .bottom_txt p i {
  margin-right: 5px;
}
#news .inner .boxWrap > div.photo_box ul li .txt_box .bottom_txt a {
  display: block;
  font: bold 12px/1;
  color: #444;
}
#news .inner .boxWrap > div.photo_box ul li .txt_box .bottom_txt a i {
  margin-right: 5px;
}

#banner {
  width: 100%;
  padding: 150px 0;
  background: url(../img/banner.jpg) no-repeat center/cover fixed;
  position: relative;
}
#banner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #333;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.7;
}
#banner .inner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#banner .inner h2 {
  color: #fff;
  margin-right: 40px;
  font: 28px/1.4 #ddd;
}
#banner .inner .btnMore {
  float: right;
  right: 0px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
}
#banner .inner .btnMore:hover {
  background-color: #ddd;
}

#footer {
  width: 100%;
  background: #999;
  padding-top: 50px;
  position: relative;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner h1 {
  border: solid 1px red;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
  text-align: left;
  margin-bottom: 50px;
  margin-left: 10px;
}
#footer .inner address {
  width: 100%;
  font: bold 10px/1 #ddd;
  display: flex;
  justify-content: center;
  font-style: normal;
  margin-bottom: 50px;
}
#footer .inner address article {
  width: 380px;
  text-align: center;
}
#footer .inner address article h2 {
  font: 12px/1 #555;
  margin-bottom: 30px;
}
#footer .inner address article > p {
  font: bold 10px #fff;
}
#footer .inner .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .inner .bottom a {
  display: block;
  width: 308px;
  height: 80px;
  font: normal 12px/80px;
  text-align: center;
  color: #eee;
  display: block;
  background: #999;
}
#footer .inner .bottom p {
  color: #eee;
  font-size: 10px;
}
#footer .inner .bottom .snsLink {
  width: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer .inner .bottom .snsLink li {
  margin-right: 10px;
}
#footer .inner .bottom .snsLink li i {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
}
#footer .inner .bottom .snsLink li i:hover i {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
