@charset "utf-8";
@import "reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");

$tablet_plus:1179px;
$tablet_orgin:860px;
$mobile:539px;


.hidden {
    position: absolute;
    top: -9999999px;
    opacity: 0;
}
fieldset {
    border: none;
}
table {
    border-collapse: collapse;
}

.wrap::after {
    content: "";
    display: block;
    clear: both;
}

@mixin btnStyle {
    display: block;
    width: 170px;
    padding: 20px;
    font: normal 12px/1;
    color: #fff;
    background-color: #333;
    text-align: center;
    transition: 0.3s;
    &:hover {
        background-color: #eee;
    }
}

//header
#header {
    // border: 1px solid blue;
    width: 100%;
	// padding: 50px 0vw 0vh;
    // height: 100vh;
    // border-bottom: 1px solid #ddd;
    // z-index: 10;
    // top: 50;
    // left: 50;
    // transform: translate(-50% -50%);
    .inner {
        width: 1180px;
        height: 75px;
        margin: 0 auto;
        position: relative;;
        z-index: 20;
        >h1 {
			position: absolute;
            // left: 20x ;
            top :16px ;
			left: 30px;
            // letter-spacing: 10px;
            >a {
                font-size: 50px;
                font-weight: 600;
                color :rgba(255,255,255,0.8)
            }
        }
        .menuWeb {
            #gnb {
                position: absolute;
                right: 30px;
                bottom: 0;
                li {
                    float: left;
                    a {
                        display: block;
                        padding-left: 14px; //40px;
                        font-size: 14px ;
                        font-weight: 550;
                        color: #fff;
                        // color: rgba(255, 255,255, 0.8);
                        margin: 10px;
                        &:hover {
                            color: rgb(1, 54, 105);
                        }
                    }
                }
            }
        }
        .btnCall {
            position: absolute;
            right: 30px;
            top: 50%;
            transform: rotateY(-50%);
            display: none;
            width: 20px;
            height: 20px;
            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background: #fff ;
                position : absolute;
                top: 0;
                left: 0;
                transition: top 0.5s 0s, transform 0.5s 0.5s;
            }
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background: #fff;
                position: absolute;
                top: 0;
                left: 0;
                transition: absolute;
                top: 0;
                left: 0;
                transition: bottom 0.5s 0s;
            }
            span {
                display: block;
                width: 100%;
                height: 2px;
                background: #fff;
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -1px;
                transition: 1s;
                text-indent: -999999px;
            }
            &.on {
                &::before {
                    top: 50%;
                    margin-top: -1px;
                    transform: rotate(45deg);
                }
                &::after {
                    bottom: 50%;
                    margin-bottom: -1px;
                    transform: rotate(-45deg);
                }
                span {
                    transform: translateX(100%);
                    opacity: 0;
                }
            }
        }
        .menuMo {
            width: 200px;
            height: 100vh;
            background: rgb(155, 208, 238);
            position: fixed;
            top: 0;
            left: -200px;
            padding: 35px 30px;
            z-index: 20 ;
            transition: 0.5s;
            display: none;
            &.on {
                left: 0;               
            }
            h1 {
                padding-bottom: 20px;
                border-bottom: 1px solid #fff;
                // font-size: 0;
                a {
                    display: block;
                    font-weight: 600;
                    letter-spacing: 10;
                    // font-size: 0px;
                    color: #fff;
                    text-align: center;
                }
                span {
                    font-size: 12px;
                    // margin-bottom:  -20px;
                    display: block;
                    color: rgba(255,255,255,0.8);
                    font-weight: 500;
                    letter-spacing: 10;
                    text-align: center;
                    
                }
            }
            #gnbMo {
                li {
                    a {
                        display: block;
                        width: 100%;
                        padding: 18px 0;
                        border-bottom: 1px dotted #fff;
                        font: bold 14px/1 ;
                        color: #fff;
						text-align: center;
                    }
                }
            }
        }
    }
}

// visual 슬라이더 
#visual {
    width: 100%;
    height: 600px;
    margin-top: -75px;
    overflow: hidden;
    position: relative;
    .inner {
        width: 1180px;
        margin: 0 auto;
        .txt { // 슬로건
            // border : solid 1px red;
            width: 1180px;
            height: 300px;
            margin-top: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 10;   // 버튼콜시 확인 할것 !
            p { 
                
                width: 500px;
                margin: 0 auto;
                // padding-top: 100px;
                font-size: 100px;
                font-style: italic;
                font-weight: 700;
                // color: rgba(255,255,255,0.8);
                color: #fff;
            }
            span {
                // margin-top: -80px;
                font-size: 28px;
                font-weight: 550;
                color: rgba(255,255,255,0.9);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .pic {
            width: 100%;
            height: 600px;
            // position: absolute;
            // overflow: hidden;
            > img {
                width: 100%;
                // object-fit: cover;
                z-index: 5;
            }
        }
        .wrap {
            width: 100%;
            // height: 600px;
            margin: 0 auto;
            // z-index: 9;
            #slider {
                width: 100%;
                height:100vh;
                // left: 0;
				position: relative;
                overflow: hidden;

                ul {  //panel
                    width: calc(100% * 5);
                    height: 100%;
                    // position: absolute;
                    display: flex;
                    top: 0;
                    left: 0;
                    li {
                        width: calc(100% / 5);
                        height: 100%;
                        float: left;
                        img {
                            width: 100%;
                            height: 600px;
                            object-fit: cover;
							background-repeat: no-repeat;
							background-size: cover ;
							// background-attachment: fixed;
                        }
                    }
                }
            }
            .prev {
                width: 100%;
                // height : 15px
                img {
					cursor: pointer;
                    width: 100px;
                    position: absolute;
                    left: 25%;
					bottom: 250px;
                    transition: 0.5s;
                    z-index: 5;
                }
            }
            .next {
                width: 100%;
                // height: 15px;
                position: absolute;
                left: 70%;
                bottom: 250px;
                img {
					cursor: pointer;
                    width: 100px;
                    // right: 200px;
                    // bottom: 250px;
                    transition: 0.5s; 
					z-index: 5;                   
                }
                // ::after {
                //     content: "";
                //     display:block ;
                //     clear: both;
                //     width: 0px;
                //     height: 2px;
                //     background-color: rgb(59, 56, 246);
                //     position: absolute;
                //     bottom: -250px;
                //     left: 0;
                //     transition: 0.5s;
                //     z-index: 3;
                // }
                
            }
        }
    }
}
//about 
#about {
    width: 100%;
	// height: 100vh;
    padding: 5vw 20vw 5vw;
	display: block;
	position: relative;
	margin: 0 auto;
    .iner {
		// border: 1px solid red;
        width: 1180px;
        margin: 0 auto;
        // position: relative;

        &::after {
            content: "";
            display: block;
            clear: both;
        }
		.text_box {
			width: 100%;
			h1 {
				width: 1180px;
			}
			.txt {
				// border: 1px solid red;
				width: 500px;
				height: 200px;
				font-size: 0;
				> h2 {
					font: bold 36px/1.4;
					color: #333;
					margin-bottom: 5px;
					padding-left: 10px;
				}
				> h3 {
					font : 24px/1.4;
					columns: #555;
					margin-bottom: 5px;
					padding-left: 10px;
				}
				p {
					font: 14px/1.2 ;
					color: #777;
					margin-bottom: 50px;
					padding-left: 10px;
				}
				a {
					margin-top: 50px;
					display: block;
					position: relative;
					margin-left: 10px;
					width: 100px;
					height: 24px;
					font-weight: 600;
					font: 14px/50px;
					color: rgb(27,113,234);
					text-align: center;
					&:hover {
						border-radius: 3px;
						border: 1px solid rgb(27,113,234);
						color: rgb(27,113,234);
					}
				}
			}
		}
        
	}
}
#portfolio {
	width: 100%;

.inner {
	width: 1180px;
	margin:  0 auto ;
	padding: 100px 0px 5px;
	overflow: hidden;
	position: relative;
	&::after {
		content: "";
		display: block;
		clear: both;
	}
	h1 {
		float: left;
	}
	.container {
		width: 1180px;
		float: left;
		overflow: hidden;
		&::after {
			content: "";
			display: block;
			clear: both;
		}
		.tap {
			width: 500px;
			float: left;
			margin-top: 15px;
			padding-bottom: 5px;
			ul {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				li {
					width: 100%;
					height: 30px;
					position: relative;
					float: left;
					font-size: 18px;
					font-weight: 500;
					a {
						display: block;
						position: absolute;
						width: 100%;
						height: 40PX;
						display: flex;
					}
					&.on {
						color: rgb(27,113,234);
						font-weight: 700;
						transition: 0.14s;
						a {
							position: absolute;
							color: rgb(27,113,234);
							font-weight: 700;
						}
					}
				}		
			}
		}
	}
	
}
}

